aside.aside 
    form(action="").aside__search
        input(type="text" placeholder="Search").aside__search-input
        button(type="submit").aside__search-btn
            img(src="img/icon/search.svg", alt="Поиск").search-btn__img
    .blog__category
        h6.blog__category-title Category
        ul.blog__category-list
            li.blog__category-item
                a.blog__category-link(href="#") Dining room (1)
            li.blog__category-item
                a.blog__category-link(href="#") Office furniture (12)
            li.blog__category-item
                a.blog__category-link(href="#") Simple interiror design (2)
            li.blog__category-item
                a.blog__category-link(href="#") Design (4)
            li.blog__category-item
                a.blog__category-link(href="#") Bedroom Furniture (1)
    .recent-posts
        h6.recent-posts__title Recent Posts
        ul.recent-posts__list
            li.recent-posts__item
                a.recent-posts__item-title(href="#") Cred selfies edison bulb four dollar toast humblebrag
                span.recent-posts__item-data August 10, 2020 |
                a.recent-posts__item-author(href="#")  by Ann Summers
            li.recent-posts__item
                a.recent-posts__item-title(href="#") Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth
                span.recent-posts__item-data September 30 ,2020 |
                a.recent-posts__item-author(href="#") by Ann Summers 
            li.recent-posts__item
                a.recent-posts__item-title(href="#") Cred selfies edison bulb four dollar toast humblebrag
                span.recent-posts__item-data May 2, 2020 |
                a.recent-posts__item-author(href="#") by Ann Summers
    .blog__tags
        h6.blog__tags-title Tags
        .blog__tags-list
            a.blog__tags-link(href="") Dining room futniture
            a.blog__tags-link(href="") Chair
            a.blog__tags-link(href="") Table
            a.blog__tags-link(href="") Bedroom
            a.blog__tags-link(href="") Office Furniture                                                    
            a.blog__tags-link(href="") Bedroom
            a.blog__tags-link(href="") Office Furniture                                                        
            a.blog__tags-link(href="") Table
            a.blog__tags-link(href="") Bedroom
            a.blog__tags-link(href="") Office Furniture
    ul.blog__social
        li.blog__social-item
            a.blog__social-link.blog__social-link--Facebook(href="#") 
        li.blog__social-item
            a.blog__social-link.blog__social-link--Instagram(href="#") 
        li.blog__social-item
            a.blog__social-link.blog__social-link--Pinterest(href="#") 
        li.blog__social-item
            a.blog__social-link.blog__social-link--WhatsApp(href="#") 
        li.blog__social-item
            a.blog__social-link.blog__social-link--Youtube(href="#")