footer.footer
    .container
        .footer__inner
            .footer__infor
                h5.footer__infor-title Contact Us
                p.footer__infor-text Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                a(href="mailto:ouremailaddress@email.com").footer__infor-email ouremailaddress@email.com
                form.footer__form
                    input(type="email" placeholder="Subscribe by email").footer__form-input
                    botton(type="submit").footer__form-btn.button SEND
            ul.footer__social
                li.footer__social-item
                    a.footer__social-link.footer__social-link--Facebook(href="#") Facebook
                li.footer__social-item
                    a.footer__social-link.footer__social-link--Instagram(href="#") Instagram
                li.footer__social-item
                    a.footer__social-link.footer__social-link--Pinterest(href="#") Pinterest
                li.footer__social-item
                    a.footer__social-link.footer__social-link--WhatsApp(href="#") WhatsApp
                li.footer__social-item
                    a.footer__social-link.footer__social-link--Youtube(href="#") Youtube
            nav.footer__menu
                ul.footer__menu-list
                    li.footer__menu-item
                        a.footer__menu-link(href="#") Delivery
                    li.footer__menu-item
                        a.footer__menu-link(href="#") FAQ
                    li.footer__menu-item
                        a.footer__menu-link(href="#") Help
                    li.footer__menu-item
                        a.footer__menu-link(href="#") More About Us
    .footer__copyright
        p.footer__copyright-text 674 Gonzales Drive. Washington, PA 15301  