.gallery.gallery-visually
    h2.visually-hidden Галерея проектов
    .container-fluid
        .gallery__buttons
            button(data-filter=".category-bedroom").gallery__btn Bedroom furniture
            button(data-filter=".category-livingRoom").gallery__btn Living room furniture
            button(data-filter=".category-office").gallery__btn Office furniture
            button(data-filter=".category-diningRoom").gallery__btn Dining room futniture
            button(data-filter=".category-chair").gallery__btn Chair
        .gallery__inner
            .gallery__items.mix.category-bedroom
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
            .gallery__items.mix.category-livingRoom
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
            .gallery__items.mix.category-office
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
            .gallery__items.mix.category-diningRoom
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
            .gallery__items.mix.category-chair
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-1.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-2.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-3.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-4.jpg", alt="images")
                a.gallery__item.include-gallery-page(href="#")
                    img.gallery__item-img(src="img/gallery/gallery-5.jpg", alt="images")
        