.container-fluid
    .collection
        a(href="#").collection__item
            img(src="img/content/new-collection__img-1.jpg", alt="").collection__img
            .collection-info
                h4.collection-info__title Truffaut literally trust
                p.collection-info__text Living room furntiture | Chair
        a(href="#").collection__item
            img(src="img/content/new-collection__img-2.jpg", alt="").collection__img
            .collection-info
                h4.collection-info__title Truffaut literally trust
                p.collection-info__text Living room furntiture | Chair
        a(href="#").collection__item
            img(src="img/content/new-collection__img-3.jpg", alt="").collection__img
            .collection-info
                h4.collection-info__title Truffaut literally trust
                p.collection-info__text Living room furntiture | Chair
        a(href="#").collection__item
            img(src="img/content/new-collection__img-4.jpg", alt="").collection__img
            .collection-info
                h4.collection-info__title Truffaut literally trust
                p.collection-info__text Living room furntiture | Chair
        a(href="#").collection__item
            img(src="img/content/new-collection__img-5.jpg", alt="").collection__img
            .collection-info
                h4.collection-info__title Truffaut literally trust
                p.collection-info__text Living room furntiture | Chair