* {
    box-sizing: border-box;
  }

html,
body {
	height: 100%;
  overflow-x:  hidden;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color:  $color-black;
    width: 100%;

    margin: 0 auto;
    // overflow-x: hidden;
    // background-color: $color-background;
}


//часто используемые классы
.visually-hidden {
    position: absolute;
    clip: rect( 0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    margin: 0 15px;
  }
  button {
    background-color: $color-fon;
    border: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }
  li.slick-active {
    button{
      background-color:$color-specialActive;
    }
  }  
}