// @media only screen and (min-device-width : $ .*** ) and (max-device-width : $ .*** ) {

// }
    //размеры экрана
    $small:  320px;
    $medium:  700px;
    $large:  1001px;
    $huge:  1200px;
    $giant: 1500px;
    $max: 2560px;


    // Базовые цвета
    $color-white:#ffffff;
    $color-black:#000000;

    //Задниый фон
    $color-backgroundFooter:#DFDFDF;

    //основые цвета макета
    $color-grey:#E5E5E5;

    // контент
    $color-fon:#363838;
    $color-title:#363838;
    $color-text:#5A5A5A;
    $color-textSign:#707070;
    $color-textGallery: #8F8D8D;
    $color-footerText:#A1A1A1;
    $color-btnGallery: #454647;

    //наведение,нажатие экшен
    // $color-inputAfter:#;
    // $color-inputBefore:#;
    // $color-inputDown:#;

    // $color-mobileBtn:#;
    // $color-mobileBtnHover:#;

    // специальные цвета
    $color-specialLine: #6D7278;
    $color-specialActive: #FFEF35;

	//шрифт
    $font-family: 'Open Sans', sans-serif;

    // default - font-size: 16px;
    
    $font-sizeSmall: 14px;
    $font-sizeMedium: 18px;
    $font-sizeLarge: 24px;
    $font-sizeHuge: 36px;
    $font-sizeGiant: 60px;
    $font-sizeSpecial: 110px;

%title-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $color-title;
}

%line_after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-specialLine
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}x(#{$numbers});
}