extends ../extends/basis
block unique-content 
    section.page-home
        .page-home__inner
            .page-home__slider
                .page-home__slider-item
                    img.slider-item__img(src="img/content/slider-img.png", alt="")
                    .slider-item__info
                        h2.slider-item__title Furniture Collection
                        p.slider-item__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .page-home__slider-item
                    img.slider-item__img(src="img/content/slider-img2.png", alt="")
                    .slider-item__info
                        h2.slider-item__title Collection Furniture 
                        p.slider-item__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .page-home__slider-item
                    img.slider-item__img(src="img/content/slider-img3.png", alt="")
                    .slider-item__info
                        h2.slider-item__title Collection Collection
                        p.slider-item__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
    section.new-collection
        .container-fluid
            h3.new-collection__title Furniture new collection
            p.new-collection__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
            include ../include/new-collection.pug
    section.decor
        img(src="img/decor-image.jpg", alt="").decor__img
        .container
            .decor-box
                h2.decor__title Aesthetic ethical drinking
                p.decor__text Deep v you probably haven't heard of them banh mi synth actually affogato. Artlyft ethical the one drinking vinegar austint
    section.work-path 
        .container
            h3.work-path__title How it Works
            .work-path__items
                .work-path__items-box.work-path__items-box--top
                    .work-path__item.work-path__item--desing
                        img(src="img/icon/work-path-desing.svg", alt="text").work-path__item-img
                        h6.work-path__item-title Designer Consultation
                        p.work-path__item-text Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche 
                    .work-path__item.work-path__item--product
                        img(src="img/icon/work-path-product.svg", alt="text").work-path__item-img
                        h6.work-path__item-title Production
                        p.work-path__item-text Everyday carry actually neutra authentic kogi shabby chic
                .work-path__items-box.work-path__items-box--bottom
                    .work-path__item.work-path__item--measure
                        img(src="img/icon/work-path-measure.svg", alt="text").work-path__item-img
                        h6.work-path__item-title Measurements
                        p.work-path__item-text Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche
                    .work-path__item.work-path__item--delivery
                        img(src="img/icon/work-path-delivery.svg", alt="text").work-path__item-img
                        h6.work-path__item-title Delivery and Assembley
                        p.work-path__item-text.work-path__item-text--delevery Fanny pack church-key cornhole, banh mi thundercats gochujang keytar
    include ../include/gallery.pug
    aside.home-blog
        .container 
            h3.home-blog__title More inspiration ideas in our blog
            .home-blog__items 
                .home-blog__item
                        a.home-blog__img-link(href="#")
                            img.home-blog__img(src="img/blog/blog-1.jpg", alt="Важный текст")
                        .home-blog__links
                            span.home-blog__date March 12, 2020
                            a.home-blog__author(href="#") by Ann Summers 
                            a(href="#").home-blog__theme Inrerior
                        a.home-blog__item-title-link(href="#") 
                            h4.home-blog__item-title Listicle actually selvage activated charcoal for the drinking vinegar 
                .home-blog__item
                        a.home-blog__img-link(href="#")
                            img.home-blog__img(src="img/blog/blog-2.jpg", alt="Важный текст")
                        .home-blog__links
                            span.home-blog__date September 28,2020
                            a.home-blog__author(href="#") by Finnagan Morningstar
                            a(href="#").home-blog__theme Dining room interior
                        a.home-blog__item-title-link(href="#") 
                            h4.home-blog__item-title Red selfies edison bulb four dollar toast humblebrag