extends ../extends/basis
block unique-content 
    section.page-home
        .page-home__inner
            .page-home__slider
                .page-home__slider-item
                    img.slider-item__img(src="img/content/slider-img.png", alt="")
                    .slider-item__info
                        h2.slider-item__title Furniture Collection
                        p.slider-item__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .page-home__slider-item
                    img.slider-item__img(src="img/content/slider-img2.png", alt="")
                    .slider-item__info
                        h2.slider-item__title Collection Furniture 
                        p.slider-item__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .page-home__slider-item
                    img.slider-item__img(src="img/content/slider-img3.png", alt="")
                    .slider-item__info
                        h2.slider-item__title Collection Collection
                        p.slider-item__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
        
