extends ../extends/basis
block unique-content 
    section.page-gallery 
        .breadcrumbs    
            .container
                ul.breadcrumbs__list
                    li.breadcrumbs__item  
                        a.breadcrumbs__link(href="#") Home
                    li.breadcrumbs__item  
                        a.breadcrumbs__link(href="#") Gallery
    .include-gallery
        include ../include/gallery.pug